.keyart,
.keyart_layer {
	height: 100vh;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: cover;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
	opacity: 0;
	animation: fadeIn 1s ease forwards;
	transition: transform 0.3s ease-out;
	will-change: transform;
}

.keyart_layer.parallax {
	position: fixed;
}

#keyart-0 {
	background-image: url();
	z-index: 1;
}

#keyart-1 {
	background-image: url(parallaxbg.png);
	z-index: 2;
}

#keyart-2 {
	background-image: url(parallax1.png);
	z-index: 3;
}

#keyart-3 {
	background-image: url(parallax2.png);
	z-index: 4;
}

#keyart-4 {
	background-image: url(parallax3.png);
	z-index: 5;
}

#keyart-5 {
	background-image: url(parallax4.png);
	z-index: 6;
}

#keyart-6 {
	background-image: url(parallax5.png);
	z-index: 7;
}

#keyart-7 {
	background-image: url(parallax6.png);
	z-index: 8;
}

#keyart-8 {
	background-image: url(parallax7.png);
	z-index: 9;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}

/* Fade In Animation */
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

/* Reset */
* {
	margin: 0;
	padding: 0;
}